body {
  margin: 0;
  padding: 0;
  color: #E7EBC5;
  background-color: #0D1321;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.row-grid {
  margin: 0;
}

.flex-space {
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }
}

.heading {
  font-size: 1.7rem;
}

.board-box {
  width: 125px;
  height: 125px;
  margin: 0;
  padding: 0;
  border: 2px solid #E7EBC5;
}

.board-box:hover {
  cursor: pointer;
  background-color: #090D17;
}

@media only screen and (min-width: 768px) {
  .heading {
    font-size: 2rem;
  }
}
